@model books.Models.Account
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <title>Login</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        body {
            background-color: #23232e;
        }
        .title {
            font-size: 32px;
            letter-spacing: 2px;
            color: #b6b6b6;
        }
        .wrapper {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            padding: 0 20px;
            background-color: #141418;
        }
        .contact-form {
            max-width: 50%;
            margin: 0 auto;
            padding: 30px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .input-fields {
            display: flex;
        }
        .input-fields{
            width: 100%;
        }
            .input-fields .single-line {
                background-color: #141418;
                font-size: 16px;
                position: relative;
                margin: 10px 0;
                border: 0;
                width: 300px;
                border-bottom: 2px solid #18bc9c;
                padding: 10px;
                color: #b6b6b6;
            }
        ::-webkit-input-placeholder {
            color: #464343;
            font-size: 16px;
        }
        .btn-gr {
            position: relative;
            display: inline-block;
            padding: 6px 18px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2px;
            border-radius: 40px;
            background: linear-gradient(90deg, #0162c8, #18bc9c);
            border: none;
            overflow: hidden;
            font-family: sans-serif;
        }
    </style>
    
</head>
<body>
    @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
    {
                    <table class="wrapper" autocomplete="off">
                        <tbody class="contact-form">
                            <tr class="title">
                                <td></td>
                                <td>BOOK ASSISTANT</td>
                                <br />
                            </tr>

                            <tr class="input-fields">
                                <td>@Html.EditorFor(model => model.name, new { htmlAttributes = new { placeholder = "Usuário", autocomplete = "off" } })</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@Html.ValidationMessageFor(model => model.name)</td>
                            </tr>
                            <tr class="input-fields">
                                <td>@Html.EditorFor(model => model.password, new { htmlAttributes = new { placeholder = "Senha" } })</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>@Html.ValidationMessageFor(model => model.password)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input class="btn-gr" type="submit" name="name" value="Login" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    @Html.DisplayFor(model => model.loginError)
                                </td>
                            </tr>
                        </tbody>

                    </table>
            }


            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

        </body>
        </html>
