@model books.Models.Account
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <title>Login</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #040d15;
            color: white;
            font-family: sans-serif;
        }

        .titulo {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}

.btn-gr {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    border: none;
    overflow: hidden;
    font-family: sans-serif;
}
    </style>
    
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td class="titulo">BOOK ASSISTANT</td>
                    <br />
                </tr>
               
                <tr>
                    <td>@Html.LabelFor(model => model.name)</td>
                    <td>@Html.EditorFor(model => model.name)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.name)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.password)</td>
                    <td>@Html.EditorFor(model => model.password)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.password)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.loginError)</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input class="btn-gr" type="submit" name="name" value="Login" />
                        <input class="btn-gr" type="reset" name="name" value="Clear" />
                    </td>
                </tr>
            </table>
        }
    </div>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
